.card {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 30px;
  line-height: 0.8;
}

.card__text {
  margin: 0;
  padding-bottom: 20px;
  text-align: left;
}

.card__text_last {
  padding-bottom: 20px;
  position: relative;
  left: 230px;
}

@media screen and (max-width: 630px) {
  .card {
    font-size: 25px;
  }

  .card__text_last {
    position: static;
  }
}

@media screen and (max-width: 468px) {
  .card {
    font-size: 20px;
  }
}
