.wrapper {
  width: 880px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 90px;
  margin: 0;
  padding: 0;
}

.wrapper_image_1 {
  width: 60px;
  height: 60px;
  transform: rotate(32deg);
  position: relative;
  bottom: 300px;
  left: 880px;
}

.wrapper_image_2 {
  width: 100px;
  height: 100px;
  position: relative;
  right: 50px;
}

.wrapper_image_3 {
  width: 250px;
  height: 250px;
  position: relative;
  bottom: 60px;
  left: 65px;
}

/* @media screen and (max-width: 980px) {

} */
